*{
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

header{background-color: #006A71;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.link{
    border: 5px solid black;
    background-color: white;
    border-radius: 50px;
    padding: 20px 20px;
}

.link1{
    color: white;
    background-color: #48A6A7;
    border-radius: 50px;
    padding: 20px 20px;
}

.logo{
    width: 60px;
    background-color: white;
    border-radius: 50px;
    padding: 0 20px;
    position: relative;
    right: 100px;

}

.poshyk{
    border-radius:50px ;
    padding:20px 140px;
    border: 5px solid black;
}

.slovo{
    position: relative;
    left: 100px;

}

.images{
display: flex;
justify-content: space-between;
align-items: center;
}

.ogesha_1 img{
    width: 100px;
    
}

.ogesha_2 img{
    width: 100px;
}

.ogesha_1{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
    margin: 20px;
}


.ogesha_2{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.kich_1 img{
    width: 100px;
}

.kich_2 img{
    width: 100px;
}

.kich_1{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.kich_2{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px ;
    margin: 20px;
}

.clothes, .kitchen{
    display: flex;
    align-items: center;
}

.inwa{
    background-color: #006A71;
    display: flex;
    gap: 200px;
    padding: 30px;
}

.link_1{
    height: px;
    color: white;
    background-color: #48A6A7;
    border-radius: 50px;
    padding: 50px 50px;
}

.link_2{
    color: white;
    background-color: #48A6A7;
    border-radius: 50px;
    padding: 50px 50px;
}